{% extends 'base.html.twig' %}
{% import '@App/theme1/breadcrumb.html.twig' as breadcrumb %}
{% import '@App/theme1/pagination.html.twig' as pagination %}

{% set _title = 'Matricula' %}
{% set _main_title = 'Listado' %}
{% set _section =  'matricula_index' %}

{% block _breadcrumb %}
    {{ breadcrumb.show(_title) }}
{% endblock %}

{% block _main %}
    {{ pagination.pager(paginator, _section) }}
    {% embed '@App/theme1/element/_table.html.twig' %}
        {% block table_head %}
            {% import '@App/theme1/action.html.twig' as action %}
            {% import '@App/theme1/table.html.twig' as table %}

            <tr>
                {{ table.th('#') }}
                {{ table.th('alumno', true, 'd-none d-sm-table-cell') }}
                {{ table.th('ciclo', true, 'd-none d-sm-table-cell') }}
                {{ table.th('material', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Descuento', true, 'd-none d-sm-table-cell') }}
                {{ table.th('deuda', true, 'd-none d-sm-table-cell') }}
                
                {{ table.th('Activo', true, 'd-none d-sm-table-cell text-center') }}
                <th></th>
            </tr>
        {% endblock %}
        {% block table_body %}
            {% import '@App/theme1/action.html.twig' as action %}
            {% import '@App/theme1/table.html.twig' as table %}

            {% for matricula in paginator.results %}
                <tr>
                    <td class="text-center">{{ loop.index | index (paginator)}}</td>
                    <td class="d-block d-sm-none">
                        <table class="table gs-0 gy-0">
                            {# {{ table.tbl_tr_th_td('Nombre', matricula.alumno) }} #}
                            {# {{ table.tbl_tr_th_td('Activo', matricula.isActive  | yesno_custom) }} #}
                        </table>
                    </td>
                    <td class="d-none d-sm-table-cell">{{ matricula.alumno }}</td>
                    <td class="d-none d-sm-table-cell">{{ matricula.ciclo.categoria }}</td>
                    <td class="d-none d-sm-table-cell">{{ matricula.material | yesno_custom | raw }}</td>
                    <td class="d-none d-sm-table-cell">{{ matricula.descuento }}</td>
                    <td class="d-none d-sm-table-cell">{{ matricula.deuda }}</td>

                    <td class="d-none d-sm-table-cell text-center">{{ matricula.isActive | yesno_custom | raw }}</td>
                    <td class="">
                        <div class="float-end">
                            {% if access.has('show', matricula) %}
                                {{ action.btn_show_link2_ico(path('matricula_show', {'uuid': matricula.uuid})) }}
                            {% endif %}
                            {% if access.has('edit', matricula) %}
                                {{ action.btn_edit_link2_ico(path('matricula_edit', {'uuid': matricula.uuid})) }}
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No hay registros</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    {{ pagination.show(paginator, _section) }}
{% endblock %}

{% block _main_footer %}
    {% include 'crud/_index_links.html.twig' with {'route_base': 'matricula'} %}
{% endblock%}

{% block _body_tools %}
    {% include 'crud/_index_links_ico.html.twig' with {'route_base': 'matricula'}  %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('crud-list') }}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            CRUDList.init('{{ path('matricula_index') }}');
        })
    </script>
{% endblock %}
