{% extends 'base.html.twig' %}
{% import '@App/theme1/breadcrumb.html.twig' as breadcrumb %}
{% import '@App/theme1/pagination.html.twig' as pagination %}
{% import '@App/theme1/table.html.twig' as table %}
{% import 'theme/action.html.twig' as action %}

{% set _title = 'Configuración' %}
{% set _main_title = 'Listado' %}
{% set _section =  'config_index' %}

{% block _breadcrumb %}
    {{ breadcrumb.show(_title) }}
{% endblock %}

{% block _main %}
    {{ pagination.pager(paginator, _section) }}
    {% embed 'theme/_table.html.twig' %}
        {% block table_head %}
            {% import 'theme/action.html.twig' as action %}
            {% import '@App/theme1/table.html.twig' as table %}
            <tr>
                {{ table.th('#', false, 'text-center') }}
                {{ table.th('Datos', false, 'd-block d-sm-none') }}
                {{ table.th('Nombre', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Alias', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Menus', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Ruta', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Activo', true, 'text-center d-none d-sm-table-cell') }}
                <th></th>
            </tr>
        {% endblock %}
        {% block table_body %}
            {% import 'theme/action.html.twig' as action %}
            {% import '@App/theme1/table.html.twig' as table %}

            {% for config in paginator.results %}
                <tr>
                    <td class="text-center">{{ loop.index | index(paginator) }}</td>
                    <td class="d-block d-sm-none font-size-xs">
                        {{ config.name }}<br>
                        {{ config.alias }}<br>
                        {{ config.isActive | yesno_custom | raw }}
                    </td>
                    <td class="d-none d-sm-table-cell">{{ config.name}}</td>
                    <td class="d-none d-sm-table-cell">{{ config.alias }}</td>
                    <td class="d-none d-sm-table-cell">
                        {% for menu in config.menus %}
                            <span class="badge badge-secondary">{{ menu }}</span>
                        {% endfor %}
                    </td>
                    <td class="d-none d-sm-table-cell text-center">{{ config.isActive | yesno_custom | raw }}</td>
                    <td class="">
                        <div class="float-end">
                            {% if access.has('show') %}
                                {{ action.btn_show_link2_ico(path('config_show', {'uuid': config.uuid})) }}
                            {% endif %}
                            {% if access.has('edit', config) %}
                                {{ action.btn_edit_link2_ico(path('config_edit', {'uuid': config.uuid})) }}
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No hay registros</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    {{ pagination.show(paginator, _section) }}
{% endblock %}

{% block _main_footer %}
    {% include 'crud/_index_links.html.twig' with {'route_base': 'config'} %}
{% endblock%}

{% block _body_tools %}
    {% include 'crud/_index_links_ico.html.twig' with {'route_base': 'config'}  %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('crud-list') }}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            CRUDList.init('{{ path('config_index') }}');
        })
    </script>
{% endblock %}
