{% import 'theme/form.html.twig' as frm %}

{{ form_start(form) }}
    {% if access.isSuperAdmin -%}
        {{ frm.column2(
            frm.row(form.name),
            frm.row(form.rol)
        ) }}

        {{ frm.column2(
            frm.row(form.config)
        ) }}
    {% else %}
        {{ frm.column2(
            frm.row(form.name)
        ) }}
    {% endif %}

    {{ frm.row(form.permissions) }}

    <div class="mt-4">
        {{ frm.button(button_label|default('Guardar')) }}
    </div>

{{ form_end(form) }}
